.sign-up-form {
    margin-top: 25px;
    margin-left: 5%;
}

input {
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sign-up-input {
    width: 95%;
    height: 45px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    box-shadow: inset 0 -2px #ebebeb;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    -moz-box-shadow: inset 0 -2px #ebebeb;
}

.sign-up-input:focus {
    border-color: #BBD1FC;
    outline: none;
    box-shadow: inset 0 -2px #BBD1FC;
    -webkit-box-shadow: inset 0 -2px #BBD1FC;
    -moz-box-shadow: inset 0 -2px #BBD1FC;
}

.sign-up-button {
    position: relative;
    vertical-align: top;
    width: 95%;
    height: 45px;
    margin-top: 25px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(black, .25);
    background: #f0776c;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -2px #d76b60;
    -webkit-box-shadow: inset 0 -2px #d76b60;
    -moz-box-shadow: inset 0 -2px #d76b60;
}

.sign-up-button:active {
    top: 1px;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#sign-up-warn {
    color: red;
}

@media screen and (min-width: 568px) {
    .sign-up-form {
        margin-left: 25%;
        width: 60%;
    }
}