#slide-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

    display: block;
    vertical-align: middle;
}

.slide-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

    display: block;
    background-image: url("../img/logo.png");
    vertical-align: middle;
}

.slide-back-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

    display: block;
    background-color: #000;
    opacity: 0.8;
}

.slide {
    display: inline-block;
    width: auto;
    max-height: 100%;

    z-index: 10;
    box-shadow: 5px 0px 20px rgb(0, 0, 0);
    -moz-box-shadow: 5px 0px 20px rgb(0, 0, 0);
    -webkit-box-shadow: 5px 0px 20px rgb(0, 0, 0);

    animation-name: 'fadein';
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;

    -webkit-animation-name: 'fadein';
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
}

@keyframes 'fadein' {
    0% {    opacity:0;  }
    100% {  opacity:1;  }
}

@-webkit-keyframes 'fadein' {
    0% {    opacity:0;  }
    100% {  opacity:1;  }
}

