<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>ぱふぉしぇ</title>

    <link rel="stylesheet" href="/css/style.min.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="/js/css3-mediaqueries.js"></script>
    <![endif]-->
