<% include header %>

  </head>

  <body>

    <div id="title-frame-min" class="center color-main shadow"></div>

    <div class="main">

      <form id="sign-up-form" class="pure-form pure-form-stacked sign-up-form" action="/auth/signup" method="post">
        <legend class="sign-up-title">ユーザ情報登録</legend>
        <p id="sign-up-warn" hidden></p>
        <label for="email">Email</label>
        <input type="email" name="email" id="sign-up-email" class="sign-up-input" placeholder="メールアドレス(必須)" autofocus />

        <label for="nickname">ニックネーム</label>
        <input type="text"  name="nickname" id="sign-up-nickname" class="sign-up-input" placeholder="ニックネーム(必須)" autofocus />

        <label for="password">Password</label>
        <input type="password" name="password" id="sign-up-password" class="sign-up-input" placeholder="パスワード(必須)" />

        <input type="submit" value="登録" id="sign-up-button" class="sign-up-button" />

      </form>

      <p class="center">すでにアカウントを登録済みの方は <Strong><a class="a-underline" href="/auth/login">こちら</a></Strong></p>
    </div>

    <script type="text/javascript" src="/js/signup.js"></script>
  </body>

</html>
